* {
    font-family: Montserrat, sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
}

a:hover {
    text-decoration: underline;
    color: #ffffff;
    background-color: #0b98c7;
}

div#Titolo {
    text-align: center;
    background-color: #0b98c7;
    color: #ffffff;
    font-size: 30px;
    position: absolute;
    width: 100%;
    height: 150px;
    padding: 2px;
}

div#navBar {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 112px;
    margin-top: 0px;
    background-color: #2a2a2a;
    color: #ffffff;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

div#navBar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div#navBar li {
    width: 110px;
    float: left;
    margin: 10px;
    padding: 5px;
    background-color: #2a2a2a;
    color: #ffffff;
    text-align: center;
}

div#navBar li:hover {
    text-decoration: underline;
    background-color: #0b98c7;
    color: #ffffff;
}

div#navBar a {
    display: block;
    padding: 0px;
    color: #ffffff;
    text-decoration: none;
}

div#navBar a:hover {
    color: #ffffff;
    text-decoration: none;
}

div#navBar li ul {
    display: none;
}

div#navBar li ul li {
    width: 350px;
}

div#navBar li:hover ul {
    display: block;
    position: absolute;
    top: 38px;
    z-index: 1;
    width: 380px;
    text-align: center;
    padding: 0px;
    border: 1px solid #0b98c7;
    background: #2a2a2a;
    text-decoration: underline;
    color: #ffffff;
    transition: width 0.8s ease-in-out;
}

div#slideShow {
    width: 1200px;
    height: 700px;
    position: absolute;
    top: 215px;
    left: 350px;
}

div#slideShow .slides {
    max-width: 1200px;
    max-height: 700pxpx;
    width: 100%;
    height: 100%;
}

.animate-fading {
    animation: fading 10s infinite
}

@keyframes fading {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

div#Titolo #logo {
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 10px;
    width: 80px;
    height: 80px;
}

/* stili per i form */

div#form, #menu{
    width: 1000px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 0px;
    position: absolute;
    top: 180px;
    left: 450px;
    background-color: #f8f8f8;
    border: 1px solid #2a2a2a;
}

div#form h1 {
    font-size: 30px;
    font-weight: bold;
}

div#form p {
    font-size: 15px;
}

div#form a:hover {
    background-color: transparent;
    color: #034978;
    font-size: 18px;
}

div#form label {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}

/* stile per tag select */
.selectStyle {
    font-size: 15px;
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
} /* fine stile per tag select */

.selectStyle option {
    font-size: 15px;
}

div#form input[type=text],
input[type=date] {
    font-size: 15px;
    width: 95%;
    height: 20px;
    padding: 6px;
    margin: 2px;
    margin-bottom: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

div#form input[type=text]:focus,
input[type=email]:focus,
input[type=date]:focus {
    /* border: 2px solid #2a2a2a; */
    border: 2px solid #0b98c7;
}

div#form input[type=submit] {
    width: 98%;
    height: 35px;
    padding: 4px;
    margin-top: 10px;
    background-color: #0b98c7;
    color: #ffffff;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

div#menu ul {
    list-style-type: circle;
}

div#menu ul li ul {
    list-style-type: disc;
    padding-top: 5px;
}

div#menu ul li ul li {
    padding-top: 5px;
    padding-bottom: 5px;
}

div#menu h1 {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}

div#menu p {
    font-size: 15px;
    margin-left: 10px;
}

div#menu a {
    color: #0b98c7;
}

div#menu a:hover {
    transition: 0.05s ease-in-out;
    font-size: 20px;
    color: #034978;
    background-color: transparent;
}

div#formRes {
    width: 1100px;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 0px;
    position: absolute;
    top: 180px;
    left: 420px;
    background-color: #f8f8f8;
    border: 1px solid #2a2a2a;
    font-size: 16px;
}

div#formRes a {
    color: #0b98c7;
}

div#formRes a:hover {
    transition: 0.05s ease-in-out;
    font-size: 20px;
    color: #034978;
    background-color: transparent;
}

div#formRes h1 {
    font-size: 30px;
    font-weight: bold;
}

div#formRes p {
    font-size: 18px;
}

#formRes ul li{
    font-size: 18px;
}

#TableStyle {
    border: 1px solid #2a2a2a;
    border-collapse: collapse;
}  

#TableStyle th{
    height: 40px;
    border: 1px solid #2a2a2a;
    border-right: 1px solid #ffffff;
    background-color: #2a2a2a;
    color: #ffffff;
}

#TableStyle td {
    width: 240px;
    height: 40px;
    border: 1px solid #2a2a2a;
    text-align: center;
}

div#formRes ul {
    list-style-type: none;
}

#userChangesTable {
    border-style: none;
}

.text-advs {
    font-size: 10px;
}

#lang-table {
    position: relative;
    left: 85px;
    border-collapse: collapse;
    border: 1px solid #2a2a2a;
}

#lang-table td {
    width: 315px;
    height: 25px;
    text-align: center;
    border-bottom: 1px solid #2a2a2a;
}

#lang-table th {
    width: 300px;
    height: 25px;
    background-color: #2a2a2a;
    color: #ffffff;
    border: 1px solid #2a2a2a;
}

div#students-list {
    overflow: auto;
    border: 1px solid #2a2a2a;
    width: 1000px;
    height: 150px;
    scrollbar-base-color: #034978;
    scrollbar-arrow-color: #2a2a2a;
    scrollbar-track-color: #0b98c7;
}